{% import './templates/variables.njk' as variables %}
{% extends "./templates/main.njk" %}

{% block page_title %}Page title{% endblock %}

{% block content %}<div class="test">content</div>
  <img src="{{ variables.image_path }}kafedra.jpg" />{% endblock %}